<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" href="#">Panel Konfiguracyjny</a></mdb-navbar-brand>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6" id="btn">
            <a class="btn btn-danger" routerLink="/shades/allShades">Rolety</a>
            </div>
        
        
            <div class="col-xs-6" id="btn">
                <a class="btn btn-success" routerLink="/shades/add">Dodaj roletę</a>
            
        </div>
        </div>
    </div>
</mdb-navbar>









<router-outlet></router-outlet>
