body{
    background-color:#e0e0e0;
    color: #c74545;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-slider-thumb {
	background-color: #0917df !important;
    color:blanchedalmond;
}

.mat-slider-thumb-label {
	background-color: #6f75c9 !important;
    color:blanchedalmond;
}

.mat-slider-track-fill {
	background-color: #db1111 !important;
}
.mat-slider-font {
    color: blanchedalmond;
}